<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Randevu Yönetim Sistemi</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100  border-0" type="text" placeholder="Ara" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/Admin/Login/Logout">Çıkış</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Admin/">
                                <i class="bi bi-house-door"></i>
                                Ana Ekran
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Pages">
                                <i class="bi bi-book"></i>
                                Sayfalar
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Doktorlar">
                                <i class="bi bi-hospital"></i>
                                Doktorlar
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Hastalar">
                                <i class="bi bi-people"></i>
                                Hastalar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Randevular">
                                <i class="bi bi-calendar-date"></i>
                                Randevular
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Kullanicilar">
                                <i class="bi bi-people-fill"></i>
                                Kullanıcılar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Logs">
                                <i class="bi bi-collection"></i>
                                Log Kayıtları
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Contacts">
                                <i class="bi bi-chat-dots"></i>
                                İletişim Talepleri
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                
                @RenderBody()

            </main>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>