@model Entities.Hasta

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>
        Hasta
        Bilgileri
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TcNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HastaYakinBilgisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HastaYakinBilgisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KanGrubu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KanGrubu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meslek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meslek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
