<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="~/Images/logo-ikon.png" height="40" title="Anasayfa" />
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Anasayfa</a></li>
                @Html.Action("_PartialMenu", "Home")
                <li><a href="/iletisim" class="nav-link px-2 link-dark">İletişim</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="/SignIn" class="btn btn-outline-primary me-2">Giriş Yap</a>
                <a href="/SignUp" class="btn btn-primary">Kayıt Ol</a>
            </div>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="/Images/logo-ikon.png" width="30" />
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2022 Arı Sağlık Grubu</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
